


<div class="container con mt-5">
  <div class="row justify-content-between">
    <div class="col-md-4 blue text-center ">
      <app-component-a [a]="data"></app-component-a>
    </div>
    <div class="col-md-4 red text-center ">
      <app-component-b [b]="data"></app-component-b>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-4 green text-center " >
      <input type="text" class="mt-3 deco" [(ngModel)]="data" placeholder="type here...">
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-md-4 blue text-center">
      <app-component-c [c]="data"></app-component-c>
    </div>
    <div class="col-md-4 red text-center">
      <app-component-d [d]="data"></app-component-d>
    </div>
  </div>
</div>
