.con{
  background-color: lightgray;
  height:100vh;
}
.blue{
  background-color: lightpink;
  border-radius: 15px;
}

p{
color: rgb(209, 135, 23);
background-color: lightgreen;
  height:80px;
  width:80px;
 border-radius: 50%;
 font-size: 40px;
 font-weight: 700;

}

.deco{

 border:2px solid green;
 border-radius: 10Px ;
text-align: center;
 color:rgb(23, 90, 23);
}
