<div class="container text-center mt-5">
 <div class="row">
   <div class="col-lg-6">
    <button type="button" (click)=" addComponentx( xComponentClass )">
      Add component x
  </button>

  <div>
      <ng-template #container></ng-template>
  </div>

   </div>
   <div class="col-lg-6">
    <button type="button" (click)=" addComponenty( yComponentClass )">
      Add component y
      <i class="fab fa-plus"></i>
  </button>

  <div>
      <ng-template #container2></ng-template>
  </div>

   </div>

 </div>



</div>
