
<div class="container con mt-5">
  <div class="row justify-content-between">
    <div class="col-md-6 blue text-center ">
      <button type="button" class="btn btn-info mt-3 mb-3" (click)=" addComponentx( xComponentClass )">
        Add component x
    </button>
    <ng-template #container></ng-template>
    </div>
    <div class="col-md-6 green text-center ">
      <button type="button" class="btn btn-info mt-3 mb-3" (click)=" addComponenty( yComponentClass )">
        Add component y

    </button>
    <ng-template #container2></ng-template>
    </div>

  </div>
</div>
